* {
    text-align: center;
}

p {
    text-align: center;
    font-size: 20px;
}

/* Buttons container */
.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    flex-direction: row;
}

/* Individual buttons */
button {
    flex: 1;
    font-size: large;
    max-width: 200px;
}

/* Clicked button */
.button-clicked,
.button-unclicked {
    padding: 20px;
    border-radius: 10px;
}
.button-unclicked {
    background-color: lightblue;
    color: black;
    font-weight: normal;
}

.button-clicked {
    background-color: blueviolet;
    color: white;
    font-weight: bold;
}