* {
    text-align: center;
    font-family: sans-serif;
}

p {
    text-align: center;
    font-size: 20px;
}

/* Buttons container */
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    align-items: center;
    flex-direction: row;
}

/* Individual buttons */
button {
    flex: 1;
    font-size: large;
    max-width: 200px;
    border-radius: 10px;
    color: black;
}

/* Clicked button */
.button-clicked,
.button-unclicked {
    padding: 20px;
}

.button-unclicked {
}

.button-clicked {
    background-color: lightblue;
    font-weight: bold;
}

#again-button {
    padding: 10px;
}

/* Running total */
.runningTotal {
    padding: 10px;
    margin: 0 auto;
}

.drawing {
    background-color: lightblue;
}

.winning {
    background-color: lightgreen;
}

.losing {
    background-color: lightcoral;
}